* {
  background-color: rgba(227, 135, 255, 0.8);  
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.px-2 {
  padding-top: ($spacer * .5);
  padding-bottom: ($spacer * .5);
}

.p-3 {
  padding: $spacer;
}

.link{

}

p {
  font-family: verdana;
  font-size: 20px;
}

header {
  padding: 10px;
  text-align: center;
}

.nav {
    background-color: aqua;
    height: 48px;
    width: 100%;
}

.logo {
    position: relative;
    left: 25%;
    padding-top: 10px
}

  rgb(163, 255, 135);
  rgba(227, 135, 255, 0.8)