* {
  background-color: rgb(253, 218, 180);  
  font-family: "Viaoda Libre", Cambria, serif
}

/* rgb(37, 150, 190); */

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(253, 218, 180);  
}

.center {
  text-align: center;
}

p {
  font-size: 16px;
  color: rgb(18,70,89);
}

a {
  font-size: 16px;
  color: rgb(18,70,89);
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(18,70,89);
}

h2 {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 30px;
  color: rgb(18,70,89);
}

h3 {
  text-align: center;
  background-color:  rgb(253, 218, 180); 
  margin-top: 30px;
  margin-bottom: 0px;
  color: rgb(18,70,89);
}

h4 {
  text-align: center;
  margin-bottom: 10px;
  color: rgb(18,70,89);
}

h5 {
  margin-bottom: 10px;
  color: rgb(18,70,89);
}

/*Header */
header {
}

.imagePrinc{
  margin: 20px;
}

.imageSec {
  margin: 20px;
  width: auto;
  height: 100px;
  text-align: right;
}

#imagerow {
  background-image: url(assets/img/mosaique.jpg);
}

#nomPrincipal {
  text-align: center;
  font-size: 30px;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 0px;
}

.titleband {
  margin:15px;
  max-width: 100%;
  background-image: url("assets/img/mosaique.png"); 
}

.navbar-nav {
  width: 70%;
}

#navDropItem {
  border-color: rgb(18,70,89);
  border-width: 7px;
  background-color: transparent;
  margin-bottom: 0px;
  padding: 15px;
}

#navDropItem:hover {
  border-color: rgb(18,70,89);
  border-width: 7px;
  background-color: rgb(18,70,89);
  margin-bottom: 0px;
  padding: 15px;
  color: white;
}

#navDropMenu {
  background: rgb(253, 218, 180); 
  color: rgb(18,70,89);
  border-color: rgb(18,70,89);
  border-width: 7px;
  padding: 0px;
}

#navDropMenu:active {
  border-color: rgb(18,70,89);
  border-width: 7px;
  background: rgb(18,70,89);
  color: white;
}

#recherche {
  margin-top: 16px;  
  position: relative;
}

/*Index page*/

.blog-post-content {
  margin-left: 30px;
}

.blog-post-meta {
  margin-left: 30px;
}

.imgEmp {
  width: 80%;
  height:auto;
  margin-right: 20px;
}

#SectEmp{
  padding: 0px;
  text-align: center;
}

/*CV page*/



/*MEV page*/

.albumscontainer {
  padding-bottom: 15px;
  padding-top: 15px; 
  padding-left: 30px;
  padding-right: 30px;
}

#carouselN1 {
  width: 40%;
  margin-left: 0px;
  margin-right: 0px;
}

.ctnMEV{
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

#imgDivMEV {
  margin-top: 30px;
  text-align: middle;
  width: 100%;
  height: auto;
}

.imgalbum {
  width: 100%;
}

/* the thumbnail image for categories of MEV lists */
.imgMEVthumbv {
  height: 50px;
  width: auto;
}

/* the image for MEV in the MEV page carousels */
.imgMEV {
  height: "30%";
  width: auto;
  margin-top: 10px;
}

/* the thumbnail image for MEV lists */
.imgMEVbklist{
  text-align: center;
  height: auto;
  width: 100%;
}

/* in MEV lists, individual book images */
.imgMEVindBk{
  height: 100px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dotF {
  height: 15px;
  width: 15px;
  background-color: #3700ff;
  border-radius: 50%;
  display: inline-block;
}

.dotE {
  height: 15px;
  width: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
}

/*Recs page*/

.imgRec{
  text-align: center;
  padding-bottom: 10px;
  vertical-align: middle;
}

.recomTi {
  color: rgb(37, 150, 190);
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}


.recomBtn {
  border-color: rgb(18,70,89);
  border-width: 2px;
  color: rgb(18,70,89);
  margin: 2px;
  padding: 2px;
}

.recomBtn:hover {
  border-color: rgb(18,70,89);
  border-width: 7px;
  color: rgb(18,70,89);
  margin: 2px;
  padding: 2px;
}

.recomImg {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 25%;
  height: 25%;
}

.colImgRec {
  max-height: 33%;
  vertical-align: middle;
  text-align: center;
}

.img-fluid {
  
}

.colTxtRec {
  max-width: 33%;
  vertical-align: middle;
}

/*Contact page*/

.contactforminput {
  width: 30%;
  margin-bottom: 20px;
}

.contactformlabel {
  text-align: center;
  font-size: 16px;
  color: rgb(18,70,89);
}

.contactformtext {
  width: 40%;
  height: 30%;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

/* footer */

footer {
  background-color: rgb(253, 218, 180);
}

/*btn et al */


.btn-primary {
  background-color: transparent; 
  border-color: rgb(18,70,89);
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  color: rgb(18,70,89);
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
}

.btn-primary:hover {
  background-color:  rgb(18,70,89);
  border-color:  rgb(18,70,89);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btn-primary:active {
  background-color:  rgb(18,70,89); 
  border-color:  rgb(18,70,89);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btn-secondary {
  background-color: transparent; 
  border-color: rgb(18,70,89);
  border-width: 2px;
  color: rgb(18,70,89);;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  margin-right:15px;
  position: relative;
}

.btn-secondary:hover {
  background-color: transparent; 
  border-color: rgb(18,70,89);
  border-width: 7px;
  color: rgb(18,70,89);
  padding: 10px 20px 10px 20px;
  position: relative;
}

.btn-secondary:active {
  background-color: transparent; 
  border-color: rgb(18,70,89);
  border-width: 7px;
  color: rgb(18,70,89);
  padding: 10px 20px 10px 20px;
  position: relative;
}

.btn-tertiary {
  background-color: transparent; 
  border-color: rgb(18,70,89)
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
}

.btn-tertiary:hover {
  background-color: rgb(18,70,89);
  border-color: rgb(18,70,89);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btn-tertiary:active {
  background-color: rgb(18,70,89);
  border-color: rgb(18,70,89);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btnRetour {
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel-inner {
  margin: 0px;
}

.carousel-caption {
  background-color: transparent;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  position: relative;
}

.carousel-control-prev {
  color: rgb(18,70,89);
  background-color: rgb(18,70,89);
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-control-next {
  color:rgb(18,70,89);
  background-color: rgb(18,70,89);
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-control-next-icon {
  background-image: url("/assets/img/iconbookright.jpg");
}

.carousel-control-prev-icon {
  background-image: url("/assets/img/iconbookleft.jpg");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
}

.carousel-indicators {
  text-align: center;
  width: 100%;
  height: auto;
  position: absolute;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.divider {
  height: 60%;
}

div.carousel-caption {
  text-align: left;
}

.dropdown-divider {
  margin: 0px;
}

.imgdivleft3 {
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.imgdivright3 {
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  transform: rotate(180dg);
}

.imgdiv2{
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}



/* landscape phones */
@media (min-width: 576px) {
  header {
    #nomPrincipal {
      font-size: 30px;
    }
    .imagePrinc{
      margin: 20px;
    }
    .imageSec {
      margin: 20px;
      width: auto;
      height: 100px;
      text-align: right;
    }
  }
  body {
    p {
      font-size: 16px;
   }
    h1 {
      font-size: 23.4px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 39.8px;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    h3 {
      font-size: 33.18px;
      margin-top: 30px;
      margin-bottom: 0px;
    }
    h4 {
      font-size: 27.65px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 23.04px;
      }
    .recomTi {
      color: rgb(18,70,89);;
      font-size: 23.04x;
      margin-top: 10px;
      margin-bottom: 10px;
      height: auto;
    }
    .recomBtn {
      font-size: 16px;
    }
  }
}

/* tablets */
@media (min-width: 768px) {
  header {
    #nomPrincipal {
      font-size: 40px;
    }
    .imagePrinc{
      margin: 20px;
    }
    .imageSec {
      margin: 20px;
      width: auto;
      height: 100px;
      text-align: right;
    }
    a {
      font-size: 20px;
      color: rgb(18,70,89);;
    }
  }
  body {
    p {
      font-size: 20px;
      color: rgb(18,70,89);
    }
    a {
      font-size: 20px;
      color: rgb(18,70,89);
    }
    h1 {
      font-size: 59.72px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 49.77px;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    h3 {
      font-size: 41.47px;
      margin-top: 30px;
      margin-bottom: 0px;
    }
    h4 {
      font-size: 34.56px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 28.8px;
      }
    .recomTi {
      color: rgb(37, 150, 190);
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: auto;
    }
    .contactformlabel {
      font-size: 20px;
    }
    .recomBtn {
      font-size: 16px;
    }
  }
}

/* desktops 1200 */
@media (min-width: 1200px) {
  header {
    #nomPrincipal {
      font-size: 50px;
    }
    .imagePrinc{
      margin: 20px;
    }
    .imageSec {
      margin: 20px;
      width: auto;
      height: 200px;
      text-align: right;
    }
    a {
      font-size: 24px;
      color: rgb(18,70,89);;
    }
  }
  body {
    p {
      font-size: 24px;
      color: rgb(18,70,89);;
    }
    a {
      font-size: 24px;
      color: rgb(18,70,89);
    }
    h1 {
      font-size: 71.66px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 59.72px;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    h3 {
      font-size: 49.77px;
      margin-top: 30px;
      margin-bottom: 0px;
    }
    h4 {
      font-size: 41.47px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 34.56pox;
      }

    /* the image for MEV in the MEV page carousels */
    .imgMEV {
      height: 70%;
      width: auto;
      margin-top: 30px;
    }

    /* the thumbnail image for categories of MEV lists */
    .imgMEVthumbv {
      height: 140px;
      width: auto;
    }

    /* the thumbnail image for MEV lists */
    .imgMEVbklist{
      text-align: center;
      height: auto;
      width: 100%;
    }

    /* in MEV lists, individual book images */
    .imgMEVindBk{
      height: 100px;
      width: auto;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .recomTi {
      color: rgb(18,70,89);
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      height: auto;
    }
    .contactformlabel {
      font-size: 24px;
    }
    #carouselN1 {
      width: 100%;
      margin-left: 140px;
      margin-right: 140px;
    }
    .recomBtn {
      font-size: 24px;
    }
  }
}


/*
@media (max-width: 479px) {
    body {
        
    }
}
*/











/* ??? */

.table-responsive {
  width: 100%;
}

/*
.logo {
    position: relative;
    left: 25%;
    padding-top: 10px
}

.nav-link{
    background-color: rgba(227, 135, 255, 0.8;
    border-color: rgb(163, 255, 135);
    padding: 20px 40px 20px 40px;
}


.hidden-element {
  display: none;
}

.parent-element:hover {
.hidden-element{
  display: block;
  height: 140;
  width: auto;
}
}