* {
  background-color: rgb(253, 218, 180);  
  font-family: "Viaoda Libre", Cambria, serif
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(253, 218, 180);  
}

.center {
  text-align: center;
}

p {
  font-size: 16px;
  color: rgb(37, 150, 190);
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 30px;
}

h3 {
  text-align: center;
  background-color:  rgb(253, 218, 180); 
  margin-top: 30px;
  margin-bottom: 0px;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
}

/*Header */
header {
  background-image: url("/assets/img/mosaique.jpeg"); 
}

.imagePrinc{
  margin: 20px;
}

.imageSec {
  margin: 20px;
  width: auto;
  height: 100px;
  text-align: right;
}

#nomPrincipal {
  text-align: center;
  font-size: 30px;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 0px;
}



.titleband {
  margin:15px;
  max-width: 100%;
}

.navbar-nav {
  width: 70%;
}

#navDropItem {
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  background-color: transparent;
  margin-bottom: 0px;
  padding: 15px;
}

#navDropItem:hover {
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  background-color: rgb(37, 150, 190); 
  margin-bottom: 0px;
  padding: 15px;
  color: white;
}

#navDropMenu {
  background-color: rgb(253, 218, 180); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 0px;
}

#navDropMenu:active {
  background-color: rgb(253, 218, 180); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
}

#recherche {
  margin-top: 16px;  
  position: relative;
}

/*Index page*/

.blog-post-content {
  margin-left: 30px;
}

.blog-post-meta {
  margin-left: 30px;
}

/*CV page*/



/*MEV page*/

.albumscontainer {
  padding-bottom: 15px;
  padding-top: 15px; 
  padding-left: 30px;
  padding-right: 30px;
}

#carouselN1 {
  width: 40%;
  margin-left: 0px;
  margin-right: 0px;
}

.ctnMEV{
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
}

#imgDivMEV {
  margin-top: 30px;
  text-align: middle;
  width: 100%;
  height: auto;
}

.imgalbum {
  width: 100%;
}

.imgMEV {
  height: 70%;
  width: auto;
  margin-top: 30px;
}

.imgMEVthumbv {
  height: 140px;
  width: auto;
}

.imgMEVbklist{
  text-align: center;
  height: auto;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgMEVindBk{
  height: auto;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  
}

/*Recs page*/

.imgRec{
  text-align: center;
  padding-bottom: 10px;
  vertical-align: middle;
}

.recomTi {
  color: rgb(37, 150, 190);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
}


.recomBtn {
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  color: rgb(37, 150, 190);
  margin: 2px;
  padding: 2px;
}

.recomBtn:hover {
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
  margin: 2px;
  padding: 2px;
}

.recomImg {
  margin-left: 5px;
  margin-right: 5px;
  max-width: 25%;
  height: 25%;
}

.colImgRec {
  max-width: 33%;
  vertical-align: middle;
}

.colTxtRec {
  vertical-align: middle;
}

/*Contact page*/

.contactforminput {
  width: 30%;
  margin-bottom: 20px;
}

.contactformlabel {
  text-align: center;
}

.contactformtext {
  width: 40%;
  height: 30%;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

/* footer */

footer {
  background-color: rgb(253, 218, 180);
}

/*btn et al */


.btn-primary {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
}

.btn-primary:hover {
  background-color: rgb(37, 150, 190);
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btn-primary:active {
  background-color: rgb(37, 150, 190); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btn-secondary {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  color: rgb(37, 150, 190);
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  margin-right:15px;
  position: relative;
}

.btn-secondary:hover {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
  padding: 10px 20px 10px 20px;
  position: relative;
}

.btn-secondary:active {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
  padding: 10px 20px 10px 20px;
  position: relative;
}

.btn-tertiary {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
}

.btn-tertiary:hover {
  background-color: rgb(37, 150, 190);
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.btn-tertiary:active {
  background-color: rgb(37, 150, 190); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 10px 20px 10px 20px;
    color: white;
  margin-bottom: 10px;
  position: relative;
}

.carousel-inner {
  margin: 0px;
}

.carousel-caption {
  background-color: transparent;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  position: relative;
}

.carousel-control-prev {
  color: rgb(37, 150, 190);
  background-color: rgb(37, 150, 190);
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-control-next {
  color: rgb(37, 150, 190);
  background-color: rgb(37, 150, 190);
  width: fit-content;
  margin-left: 20px;
  margin-right: 20px;
}

.carousel-control-next-icon {
  background-image: url("/assets/img/iconbookright.jpg");
}

.carousel-control-prev-icon {
  background-image: url("/assets/img/iconbookleft.jpg");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
}

.carousel-indicators {
  text-align: center;
  width: 300px;
  height: auto;
  margin:auto;
  max-width: auto;
}

.divider {
  height: 60%;
}

div.carousel-caption {
  text-align: left;
}

.dropdown-divider {
  margin: 0px;
}

.imgdivleft3 {
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.imgdivright3 {
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  transform: rotate(180dg);
}

.imgdiv2{
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}



/* landscape phones */
@media (min-width: 576px) {
  header {
    #nomPrincipal {
      font-size: 30px;
    }
    .imagePrinc{
      margin: 20px;
    }
    .imageSec {
      margin: 20px;
      width: auto;
      height: 100px;
      text-align: right;
    }
  }
  body {
    p {
      font-size: 16px;
      color: rgb(37, 150, 190);
    }
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2 {
      text-align: left;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    h3 {
      text-align: center;
      background-color:  rgb(253, 218, 180); 
      margin-top: 30px;
      margin-bottom: 0px;
    }
    h4 {
      text-align: center;
      margin-bottom: 10px;
    } 
    .recomBtn {
      font-size: 16px;
    }
  }
}

/* tablets */
@media (min-width: 768px) {
  header {
    #nomPrincipal {
      font-size: 40px;
    }
    .imagePrinc{
      margin: 20px;
    }
    .imageSec {
      margin: 20px;
      width: auto;
      height: 100px;
      text-align: right;
    }
    a {
      font-size: 20px;
      color: rgb(37, 150, 190);
    }
  }
  body {
    p {
      font-size: 20px;
      color: rgb(37, 150, 190);
    }
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2 {
      text-align: left;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    h3 {
      text-align: center;
      background-color:  rgb(253, 218, 180); 
      margin-top: 30px;
      margin-bottom: 0px;
    }
    h4 {
      text-align: center;
      margin-bottom: 10px;
    }
    .recomBtn {
      font-size: 16px;
    }
  }
}

/* desktops 1200 */
@media (min-width: 1200px) {
  header {
    #nomPrincipal {
      font-size: 50px;
    }
    .imagePrinc{
      margin: 20px;
    }
    .imageSec {
      margin: 20px;
      width: auto;
      height: 200px;
      text-align: right;
    }
  }
  body {
    p {
      font-size: 24px;
      color: rgb(37, 150, 190);
    }
    h1 {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h2 {
      text-align: left;
      margin-bottom: 15px;
      margin-left: 30px;
    }
    h3 {
      text-align: center;
      background-color:  rgb(253, 218, 180); 
      margin-top: 30px;
      margin-bottom: 0px;
    }
    h4 {
      text-align: center;
      margin-bottom: 10px;
    }
    #carouselN1 {
      width: 100%;
      margin-left: 140px;
      margin-right: 140px;
    }
    .recomBtn {
      font-size: 24px;
    }
  }
}


/*
@media (max-width: 479px) {
    body {
        
    }
}
*/








.hidden-element {
  display: none;
}

.parent-element:hover {
.hidden-element{
  display: block;
  height: 400px;
  width: auto;
}
}


/* ??? */
.imgEmp {
  width: 80%;
  height:auto;
  margin-right: 20px;
}

#SectEmp{
  padding: 0px;
  text-align: center;
}

.RecTxt {
  position: relative;
}

.RecTxt2 {
    position: absolute;
}

.table-responsive {
  width: 100%;
}

/*
.logo {
    position: relative;
    left: 25%;
    padding-top: 10px
}

.nav-link{
    background-color: rgba(227, 135, 255, 0.8;
    border-color: rgb(163, 255, 135);
    padding: 20px 40px 20px 40px;
}





.cv-list {
  ;
}

rgb(163, 255, 135);
  rgba(227, 135, 255, 0.8)*/