* {
  background-color: rgb(253, 218, 180);  
  font-family: "Viaoda Libre", Cambria, serif
}

.albumscontainer {
  padding-bottom: 15px;
  padding-top: 15px; 
  padding-left: 30px;
  padding-right: 30px;
}

.blog-post-content {
  margin-left: 30px;
}

.blog-post-meta {
  margin-left: 30px;
}

body {
  background-color: rgb(253, 218, 180);  
}

.btn-primary {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: rgb(37, 150, 190);
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 20px 10px 20px 10px;
    color: white;
  margin-bottom: 10px;
}

.btn-primary:active {
  background-color: rgb(37, 150, 190); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 20px 10px 20px 10px;
    color: white;
  margin-bottom: 10px;
}

.btn-secondary {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  color: rgb(37, 150, 190);
  padding: 10px 20px 10px 20px;
  font-size: 20px;
}

.btn-secondary:hover {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
  padding: 20px 10px 20px 10px;
}

.btn-secondary:active {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
  padding: 20px 10px 20px 10px;
}

.btn-tertiary {
  background-color: transparent; 
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn-tertiary:hover {
  background-color: rgb(37, 150, 190);
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 20px 10px 20px 10px;
    color: white;
  margin-bottom: 10px;
}

.btn-tertiary:active {
  background-color: rgb(37, 150, 190); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 20px 10px 20px 10px;
    color: white;
  margin-bottom: 10px;
}

.carousel-caption {
  background-color: transparent;
  margin-left: 0;
  left: 40%;
  right: 0%;
  bottom: 0%;
}

.carousel-control-prev {
  color: rgb(37, 150, 190);
  background-color: rgb(37, 150, 190);
  width: fit-content;
  margin-left: 150px;
}

.carousel-control-next {
  color: rgb(37, 150, 190);
  background-color: rgb(37, 150, 190);
  width: fit-content;
  margin-right: 150px;
}

.carousel-control-next-icon {
  background-image: url("/assets/img/iconbookright.jpg");
}

.carousel-control-prev-icon {
  background-image: url("/assets/img/iconbookleft.jpg");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
}


.center {
  text-align: center;
}

.contactforminput {
  width: 30%;
  margin-bottom: 20px;
}

.contactformlabel {
  text-align: center;
}

.contactformtext {
  width: 40%;
  height: 30%;
  margin-bottom: 20px;
}

.divider {
  height: 60%;
}

div.carousel-caption {
  text-align: left;
}

.dropdown-divider {
  margin: 0px;
}

footer {
  background-color: rgb(253, 218, 180);
}

form {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
  margin-bottom: 15px;
  margin-left: 30px;
}

h3 {
  text-align: center;
  background-color:  rgb(253, 218, 180); 
  margin-top: 30px;
  margin-bottom: 0px;
}

h4 {
  text-align: left;
  margin-bottom: 10px;
}

header {
  background-color: rgb(244, 221, 190);  
}

.carousel-indicators {
  text-align: center;
  width: 300px;
  height: auto;
  margin:auto;
  
}

.imgdivleft3 {
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.imgdivright3 {
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
  transform: rotate(180dg);
}

.imgdiv2{
  height: 281px;
  width: auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

#imgDivMEV {
  margin-top: 30px;
  text-align: middle;
  width: auto;
  height: 100px;
}

.imgalbum {
  width: 100%;
}

.imgEmp {
  width: 480px;
  height:auto;
}

#SectEmp{
  padding: 0px;
}

.imagePrinc{
  margin: 20px;
  width: auto;
  height: 200px;
}

.imageSec {
  margin: 20px;
  width: auto;
  height: 200px;
  text-align: right;
}

.imgRec{
  margin-left: 150px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  height: 300px;
  width: auto;
}

.imgRec:hover {
  height: auto;
  width: 350px;
}

.imgMEV {
  height: auto;
  width: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.imgMEVthumbv {
  height: 140px;
  width: auto;
}

.imgMEVbklist{
  text-align: center;
  height: auto;
  width: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.imgTag {
  height: 100;
  width: auto;
}

.hidden-element {
  display: none;
}

.parent-element:hover
.hidden-element{
  display: block;
  height: 400px;
  width: auto;
}

.MEVbklistref:hover{
  image
}

#navDropItem {
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  background-color: transparent;
  margin-bottom: 0px;
  padding: 15px;
}

#navDropItem:hover {
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  background-color: rgb(37, 150, 190); 
  margin-bottom: 0px;
  padding: 15px;
  color: white;
}

#navDropMenu {
  background-color: rgb(253, 218, 180); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  padding: 0px;
}

#navDropMenu:active {
  background-color: rgb(253, 218, 180); 
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
}

#nomPrincipal {
  text-align: center;
  font-size: 50px;
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: 16px;
}

#recherche {
  margin-top: 16px;  
}

.recomTi {
  color: rgb(37, 150, 190);
  font-size: 50px;
  margin-top: 10px;
  width: 80%;
  /*width: fit-content;*/
}

.recomBtn {
  border-color: rgb(37, 150, 190);
  border-width: 2px;
  color: rgb(37, 150, 190);
  margin: 20px;
  padding: 10px 20px 10px 20px;
}

.recomBtn:hover {
  border-color: rgb(37, 150, 190);
  border-width: 7px;
  color: rgb(37, 150, 190);
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px 10px 20px 10px;
}


.recomImg {
  width: 500px;
  margin-left: 30px;
  margin-right: 30px;
}

.table-responsive {
  width: 100%;
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}



/*
.logo {
    position: relative;
    left: 25%;
    padding-top: 10px
}

.nav-link{
    background-color: rgba(227, 135, 255, 0.8;
    border-color: rgb(163, 255, 135);
    padding: 20px 40px 20px 40px;
}





.cv-list {
  ;
}

rgb(163, 255, 135);
  rgba(227, 135, 255, 0.8)*/